html {
    font-size: 20px;
    color: white;
     
}
body{
    background-color: #0B231C;
	font-family: 'Arial ',sans-serif;
    /*margin: 0px*/
}

#wrapper{
    margin-left: auto;
    margin-right: auto;
    max-width: 1240px;
    max-height: 768px;
    min-width: 1240px;
    min-height: 768px;
   
}

h1{
    text-align: center;
    font-family: 'Chalkduster', cursive;
    font-size: 60px;
   
}
/*ta bort? --> gjorde om utseendet*/
#info{
    text-align: center;
    height: auto;
    width: 800px;
     margin-left: auto;
    margin-right: auto;
   
}

#jamaican{
    font-size:56px;
    color:forestgreen;
    font-family: 'Courier New';
      text-align: center;
}
#inn{
    font-size:56px;
    color:white;
    font-family: 'Courier New';
    margin-left: 250px;
      text-align: center;
    
}


#login{
    margin-left: auto;
    margin-right: auto;
   
    height: 200px;
    width: 500px;
    border: 3px solid forestgreen;
    border-radius: 1em;
    padding-left: 100px;
    position: relative;

}
#wrapper_index{
    margin-left: auto;
    margin-right: auto;
    max-width: 1240px;
    max-height: 468px;
    min-width: 1240px;
    min-height: 468px;
 padding-top: 300px;
   
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
}


#login p {
    display: inline;
}

#loginform{
    width:150px;
}

#login_button {
 position: absolute;
    top: 135px;
    right:100px;
    
    height:30px;
    width:100px;
    
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

nav a.current  {
	color:#009933;
}

nav a {
	font-size: 1.3em;
	color: #0B231C;
	text-decoration: none;
	padding: 0 .5em 0 .5em;
   
    
}
nav a:hover {
    color: #21c559;
}
nav ul{
    position: absolute;
    bottom: 0;
    margin-left: 50px; /*ändra hur du vill*/

}

nav li{
	display: inline;
    
    
}

header{
	background-color:white;
    height: 200px;
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
	
}

#user_img{
    position: absolute;
    right: 100px;
    top: 50px;
    height: 100px;
    width: 100px;
}

#user_img img
{
  max-width:100%; 
  max-height:100%;
  margin:auto;
  display:block;
}
#welcome {
    color: #0B231C;
    position: absolute;
       top:10px;
    right:90px;
    
    
}
#balance {
    color: #0B231C;
    position: absolute;
    right:50px;
    bottom:30px;
    font-size: 16px;
}



#logout a{
    color:#0B231C;
    text-decoration: none;
    
}

#logout{
    position: absolute;
    top:5px;
    right:5px;
    
}

#language_choice{
    position: absolute;
    right: 110px;
    bottom:20px;

    
}


td {
    border: 1px solid #0B231C;
    border-radius: 2em;
    background-color: white;
    color:#0B231C;
    text-align: center;  
}


#category li{
	display: inline;
}

#category ul{
    width:900px;
    float: left;
    position: relative;
}

#beer_cat{
    position: absolute;
    left: 100px;
}

#cider_cat{
    position: absolute;
    left: 350px;
}

#wine_cat{
    position: absolute;
    left: 580px;
}

#non_cat{
    position: absolute;
    left: 780px;
}

.drink {
    font-size: 15px;
    width: 225px;
    height:70px;

}

.drink p {
    padding-top: 5px;
    margin:0;
}

.price{
    height: 15px;
    width: 80px;
    font-weight: bold;
    background-color: white;
    /*border-radius: 2em;
    border:2px solid #009933;*/
    padding-top: 5px;
    /*margin-left: auto;
    margin-right: auto;*/
    display: inline-block;
    /*margin-bottom: 4px;*/
 
    
}
.amount{
    height: 15px;
    width: 80px;
    font-weight: bold;
    background-color: white;
    /*border:2px solid #009933;
    border-radius: 2em;*/
    /*margin-left: auto;
    margin-right: auto;*/
    display:inline-block;

}

#table_all{
    background-color: #0B231C;
    width:900px;
    height: 400px;
    float: left;
    
}


table{
    border-spacing: 10px;
}

#shoppingarea{
    margin-top: 100px;
     width:200px;
    height: 350px;
     float:LEFT;  
    margin-left:6.5em;
    display: table; 
    position: relative;
}
.shopping_cart{
    background-color: white;
    width:200px;
    height: 300px; 
    vertical-align: text-top;
    overflow:auto;
    
}

#Heading_cart{
    width:auto;
    background-color: #0B231C;
    color:white;
}

#purchase_button {
        width:100px;
        height:50px;
        float:left;
        background:#0B231C;         
        color:white;
        bottom:0;    
    display: inline;
    }
#clear_button {
        width:100px;
        height:50px;
        background:darkred;         
        color:white;
        bottom:0;  
        display: inline;
    float:right
    
}







#container{
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 1240px;
    float:left;
    
}






#prevDrinks {
    width: 600px;
    height:350px;
    overflow: auto;
    background-color:darkgreen;
    margin-left: auto;
    margin-right: auto;
    border-radius:2px;
    border: 10px solid green;
    
}

#prevDrinks p{
    color: white;
   text-align: left;
    padding-left: 20px;
    
}

#beverage_button{
        width:200px;
        height:50px;
        background:#0B231C;;         
        color:white;
        position: absolute;
        top:80px;
        right:20px;
      
}
#save_button{
        width:200px;
        height:50px;
        background:#0B231C;;         
        color:white;
        position: absolute;
        top:20px;
        right:20px;
      
}

.dropdown_bev{
   
      font-size: 15px;
    width: 225px;
    height:40px;
}


.dropdown_bev select{
    margin-top: 10px;
}


#container_user{
    border-spacing: 4px;
    height:430px;
    width: 1240px;
    position: relative;
    
}

#buttonarea_users{
    height:50px;
    width: 240px;
    bottom:0;
    left:0;
    position:absolute;
}
#createuser_button{
        width:200px;
        height:50px;
        background:#0B231C;;         
        color:white;
      
}
#edituser_button{
        width:200px;
        height:50px;
        background:#0B231C;;         
        color:white;
    
      
}
#saveuser_button{
        width:200px;
        height:50px;
        background:#0B231C;;         
        color:white;
		margin-left: 1040px;
    
}

#container_user h2 {
    padding-left: 10px;
}

#users {
    width: 575px;
    height:350px;
    overflow: auto;
    background-color:darkgreen;
    float:left;
    border-radius:2px;
    border: 10px solid green;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

#users:after {
      content: "";
      display: inline-block;
      width: 100%; 
}

#users_category {
    font-size:24px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    }
#users_category:after {
      content: "";
      display: inline-block;
      width: 100%;
    }

#adduser {
     width: 575px;
    height:350px;
    background-color:darkgreen;
    border-radius:2px;
    border: 10px solid green;
    float:right;
    overflow: auto;
    padding-left: 10px;
    
}


