html {
    font-size: 20px;
    color: white;
     
}
body{
    background-color: #0B231C;
	font-family: 'Arial', 'Arial', sans-serif;

}

#wrapper{
    margin-left: auto;
    margin-right: auto;
    max-width: 1240px;
    max-height: 768px;
    min-width: 1240px;
    min-height: 768px;
   
}                                   /*LOG IN SIDAN START*/

#jamaican{
    font-size:56px;
    color:forestgreen;
    font-family: 'Courier New';
      text-align: center;
}
#inn{
    font-size:56px;
    color:white;
    font-family: 'Courier New';
    margin-left: 250px;
    text-align: center;
    
}


#login{
    margin-left: auto;
    margin-right: auto;
    height: 210px;
    width: 500px;
    border: 3px solid forestgreen;
    border-radius: 1em;
    padding-left: 100px;
    position: relative;

}
#wrapper_index{
    margin-left: auto;
    margin-right: auto;
    max-width: 1240px;
    max-height: 468px;
    min-width: 1240px;
    min-height: 468px;
    padding-top: 300px;
   
}

label {
    display: inline-block;
    width: 140px;
    text-align: right;

}


#login p {
    display: inline;
}

/*#loginform{
    width:60px;
}*/

#login_button {
 position: absolute;
    top: 145px;
    right:70px;
    height:30px;
    width:100px; 
    font-size: 14px;
    background-color: gray;
}       

#username_placeholder_index {
    height: 30px;
    font-size: 14px;
}

#password_placeholder_index {
    height: 30px;
    font-size: 14px;
}

.login_div {
    margin: 5px;
    width: 307px;
}

            /*LOG IN SIDAN SLUT*/



.dropbtn {
    background-color: white;
    color: #0B231C;
    font-size: 1.3em;
    border: none;
    cursor: pointer;
}

.dropdown_menu {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index:2;
}

.dropdown-content a {
    color: #0B231C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
}

.dropdown_menu:hover .dropdown-content {
    display: block;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

nav a.current  {
	color:#009933;
}

.current2 {
    color:#009933;
}

nav a {
	font-size: 1.3em;
	color: #0B231C;
	text-decoration: none;
	padding: 0 .5em 0 .5em;
   
    
}
nav a:hover {
    color: #21c559;
}
nav ul{
    position: absolute;
    bottom: 0;
    margin-left: 50px; /*ändra hur du vill*/

}

nav li{
	display: inline;
    
    
}

header{
	background-color:white;
    height: 200px;
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-top: #ccc 3px solid;
    border-right: #ccc 3px solid;
    border-bottom: #777 3px solid;
    border-left: #777 3px solid;
	
}

#user_img{
    position: absolute;
    right: 100px;
    top: 50px;
    height: 100px;
    width: 100px;
}

#user_img img
{
  max-width:100%; 
  max-height:100%;
  margin:auto;
  display:block;
}
#welcome {
    color: #0B231C;
    position: absolute;
    top:10px;
    right:180px;
    
    
}
#user_balance {
    color: #0B231C;
    position: absolute;
    right:-25px;
    bottom:40px;
    font-size: 16px;
    height:40px;
    width: 200px;
}



#logout a{
    color:#0B231C;
    text-decoration: none;
    
}

#logout{
    position: absolute;
    top:10px;
    right:10px;
    
}

#language_choice{
    position: absolute;
    right:  10px;
    bottom:10px;   
}
#language_choice_index{
    position: absolute;
    right: 105px;
    top:20px;   
    width:100px;
    height: 20px;
}


#container td {
    /*border: 1px solid #0B231C;*/
    border-radius: 1.5em;
    background-color: white;
    color:#0B231C;
    text-align: center; 
    box-shadow: 
    0 1px 2px #fff, /*bottom external highlight*/
    0 -1px 1px #666, /*top external shadow*/ 
    inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
    inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
    box-shadow: 
    1px 1px #939393,
    2px 2px #939393,
    3px 3px #939393;
    cursor: move;
}


#category li{
	display: inline;
}

#category ul{
    width:900px;
    float: left;
    position: relative;
}

#beer_cat{
    position: absolute;
    left: 100px;
}

#cider_cat{
    position: absolute;
    left: 350px;
}

#wine_cat{
    position: absolute;
    left: 580px;
}

#non_cat{
    position: absolute;
    left: 780px;
}

.drink {
    font-size: 15px;
    width: 225px;
    height:70px;

}

.drink p {
    padding-top: 5px;
    margin:0;
}

.drinktype {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 14px;
}

.price{
    height: 15px;
    width: 65px;
    font-weight: bold;
    background-color: white;
    /*padding-top: 0px;*/
    display: inline-block;
}

.amount{
    height: 15px;
    width: 65px;
    font-weight: bold;
    background-color: white;
    display:inline-block;
}

.buy_btn {
    height: 20px;
    font-weight: bold;
    background-color: darkseagreen;
    display:inline-block;
}

#table_all{
    background-color: #0B231C;
    width:900px;
    height: 500px;
    float: left;
    
}


table{
    border-spacing: 10px;
}

#shoppingarea{
    margin-top: 100px;
    width:200px;
    height: 350px;
    float:LEFT;  
    margin-left:6.5em;
    display: table; 
    position: relative;
}
.shopping_cart{
    background-color: white;
    width:200px;
    height: 300px; 
    overflow:auto;
    
}
.shopping_cart p{
   display: inline;
    font-size: 14px;
    text-align: left;
    color: black;
    
}

#Heading_cart{
    width:auto;
    background-color: #0B231C;
    color:white;
}
#totalamount{
    width:auto;
    background-color: white;
    color:#0B231C;
    height:30px;
    text-align: left;
    padding-left: 10px;
    
}


#purchase_button {
        width:100px;
        height:50px;
        float:left;
        background:#0B231C;         
        color:white;
        bottom:0;    
    display: inline;
    }
#clear_button {
        width:100px;
        height:50px;
        background:darkred;         
        color:white;
        bottom:0;  
        display: inline;
    float:right
    
}


#container{
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 1240px;
    float:left;
    
}

#prevDrinks {
    width: 600px;
    height:350px;
    overflow: auto;
    background-color:darkgreen;
    margin-left: auto;
    margin-right: auto;
    border-radius:2px;
    border: 10px solid green;
    
}

#prevDrinks p{
    color: white;
   text-align: left;
    padding-left: 20px;
    
}
#buttonarea_manbev{
    height: 100px;
    width:200px;
    position: absolute;
    right:50px;
    top:100px;
    
}


#beverage_button{
        width:200px;
        height:50px;
        background:#0B231C;       
        color:white;
      
}
#save_button{
        width:200px;
        height:50px;
        background:#0B231C;        
        color:white;
}

.dropdown_bev{
   
      font-size: 15px;
    width: 225px;
    height:40px;
}


.dropdown_bev select{
    margin-top: 10px;
}


#container_user{
    border-spacing: 4px;
    height: 430px;
    width: 1240px;
    position: relative;
    
}

#buttonarea_users{
    height:50px;
    width: 240px;
    bottom:0;
    left:0;
    position:absolute;
}
#createuser_button{
        width:200px;
        height:50px;
        background:#0B231C;         
        color:white;
      
}
#edituser_button{
        width:200px;
        height:50px;
        background:#0B231C;         
        color:white;
    
      
}
#saveuser_button{
        width:200px;
        height:50px;
        background:#0B231C;         
        color:white;
		margin-left: 1040px;
    
}

#container_user h2 {
    padding-left: 10px;
}

#users {
    width: 800px;
    height:350px;
    overflow: auto;
    background-color:darkgreen;
    float:left;
    border-radius:2px;
    border: 10px solid green;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
	
}

#users div:after {
      content: "";
      display: inline-block;
      width: 100%; 
	  
}

/* #users_category {
    font-size:24px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

#users_category:after {
    content: "";
    display: inline-block;
    width: 100%;
}*/

.adduser {
    width: 350px;
    height:350px;
    background-color:darkgreen;
    border-radius:2px;
    border: 10px solid green;
    float:right;
    overflow: auto;
    padding-left: 10px;
}

#container_view_all_beverages{
    border-spacing: 4px;
    height:430px;
    width: 1240px;
    position: relative;
    
}

#view_beverages {
    width: 800px;
    height:350px;
    overflow: auto;
    background-color:darkgreen;
    float:left;
    border-radius:2px;
    border: 10px solid green;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

#all_beverages div:after {
    content: "";
    display: inline-block;
    width: 100%; 
}

/* #bev_category {
    font-size:24px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    }

#bev_category:after {
    content: "";
    display: inline-block;
    width: 100%;
}*/

#addbeverage {
    width: 350px;
    height:350px;
    background-color:darkgreen;
    border-radius:2px;
    border: 10px solid green;
    float:right;
    overflow: auto;
    padding-left: 10px;
    
}

#buttonarea_beverage{
    height:50px;
    width: 200px;
    bottom:0;
    right:0;
    position:absolute;
}

#savebeverage_button{
        width:200px;
        height:50px;
        background:#0B231C;         
        color:white;
}

#savebalance_button {
    width:200px;
    height:50px;
    background:#0B231C;         
    color: white;
    margin-left: 1040px;
    margin-top: 10px;
}

#all_users {
    padding-left:10px;
}

.dropdown_bev select {
    width: 150px;
}

.user_tables th {
    font-size:18px;
    text-align: left;
}

.user_tables td{
    font-size:15px;
}

/*Making the site responsive */

@media screen and (max-width: 1239px){
    
#wrapper{
    width: 100%; 
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
   
}
    
    
.dropbtn {
    font-size: 0.65em;
}


.dropdown-content {
    min-width: 8%;
    z-index:1;
}

.dropdown-content a {
    padding: 6px 8px;
    font-size: 10px;
}

nav a {
	font-size: 0.65em;
	padding: 0 .25em 0 .25em;
     
}
nav ul{
    margin-left: 0%; /*ändra hur du vill*/

}

header{
    height: 30%;
    width: 100%;
    float: left; 
    margin-left: 0px auto;
    margin-right: 0px auto;	
}

#user_img{
    position: absolute;
    left: 180px;
    top: 117px;
    height: 20%;
    width: 20%;
    
}

#user_img img
{
  max-width:100%; 
  max-height:100%;
  margin:auto;
}
#welcome {
    position: absolute;
    left: 10px;
    top:50px;
    
}
#user_balance {
    position: absolute;
    left:240px;
    top: 110px; 
    font-size: 10px;
    height:20px;
    width: 100px;
}



#logout a{
    font-size: 14px;
}

#logout{
    position: absolute;
    top:10px;
    right:10px;
    
}

#language_choice{
    position: absolute;
    right:  10px;
    bottom:10px;   
}
#language_choice_index{
    position: absolute;
    right: 105px;
    top:20px;   
    width:100px;
    height: 20px;
}

.dropdown_bev select{
    margin-top: 10px;
}


#container_user{
    border-spacing: 4px;
    height: 230px;
    width: 100%;
    position: relative;
    
}

#buttonarea_users{
    height:50px;
    width: 240px;
    bottom:0;
    left:0;
    position:absolute;
}
#createuser_button{
        width:200px;
        height:50px;
        background:#0B231C;         
        color:white;
      
}
#edituser_button{
        width:200px;
        height:50px;
        background:#0B231C;         
        color:white;
    
}
    
#savebalance_button{
        width:150px;
        height:50px;
        background:#0B231C;
        position: absolute;
        bottom: -480px;
        margin-left: -200px;
        color:white;
        z-index: 4;
    
}

#container_user h2 {
    padding-left: 0px;
}
.adduser {
    width: 97%;
    height:100%;
    position: absolute; 
    top: 210%; 
    left: 0.3%; 
    background-color:darkgreen;
    border-radius:2px;
    border: 10px solid green;
    float:right;
    padding-left: 10px;
}

  
#users {
    width: 96%;
    height:100%;
    overflow: auto;
    float:left;
    position: absolute;
    top: 100%;
    left:0.3%;
    border-radius:2px;
    border: 10px solid green;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
	
}
 
    
}